{
  "path" : "/home/felipe/images/"
  , "rss" : [
    { 
      "name":"flickr_felipem" 
      , "value" : "http://api.flickr.com/services/feeds/photos_public.gne?id=51035592720@N01&lang=en-us&format=rss_200" 
    }
	, {
	"name": "picasa_felipem"
	, "value" : "https://picasaweb.google.com/data/feed/base/user/108817091094193036826"
	}
    ]

}
